{%extends "layout.html"%}

{%block main%}
<div class="welcome">
    <h2>Welcome to <strong>MyBucket List WebApp</strong></h2>
    <h3>Where you can create personalized bucket lists and keep track of them over time!</h3>
    <h4>Meet up with people with similar lists, and strike them out together!</h4>
    <h5>There's more!!! Share your lists with your friends on any social media!</h5>
    <div>
        <h3>By: Daniel Isaac, 2020</h3>
        <h4>Lagos, Nigeria</h4>
    </div>
</div>
{%endblock%}
